.contactItems {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.labelFind {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}

.inputFilter {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
  outline: 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
  width: 280px;
}
