.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
}

.button {
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.button:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

.list {
  padding-bottom: 15px;
  color: #2a1f62;
}

@media (min-width: 768px) {
  .button {
    padding: 24px;
  }
}

.contactItems {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 15px;
  justify-content: center;
}
